* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

table {
  font-size: 13px;
}
a {
  text-decoration: none !important;
}
h1,h2,h3,h4,h5 {
  color: #000A55;
}

.button-primary {
  background-color: #2B6BAC;
  text-transform: uppercase;
}

.input-group-button input {
  background-color: #2b6bac;
}
.alert-callout-subtle.warning {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #ffae00;
}

.alert-callout-subtle.success {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #3adb76;
}


legend {
  color: #747896 !important;
  font-size: 15px;
  font-weight: bolder;
  border: 0 !important;
  width: max-content;
}

.edit-enabled {
  font-style: italic !important;
  font-weight: bold !important;
  color: #707070 !important;
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  text-decoration-color: lightblue !important;
}

/* correct some bootstrap classes
*/
.row {
  margin: auto;
}

/* customize some DataTables stuff
*/
.dataTables_info {
  color: grey;
}

.current {
  margin-top:0;
}



/* classes for project status */
.status-new {
  background-color: rgba(243,156,18,0.2) !important;
  color: rgb(243,156,18) !important;
}
.status-engineered {
  background-color: rgba(142,68,173,0.2) !important;
  color: rgb(142,68,173) !important;
}
.status-sold {
  background-color: rgba(39,174,96,0.2) !important;
  color: rgb(39,174,96) !important;
}
.status-quoted {
  background-color: rgba(41,128,185,0.2) !important;
  color: rgb(41,128,185) !important;
}
.status-lost {
  background-color: rgba(44,62,80,0.2) !important;
  color:rgb(44,62,80) !important;
}

/* classes for project timing */
.bidTiming-late {
  color: red !important;
}
.bidTiming-soon {
  color: #f39c12 !important;
}

/* classes for projects tables */
.table-note {
  font-style: italic;
  color: rgb(54,162,235);
}


/* class for project information */
.project-info {
  background-color: white;
  width: 23vw;
  box-shadow: 0 0 0px #707070 !important;
  -moz-box-shadow: 0 0 0px #707070 !important;
  -webkit-box-shadow: 0 0 0px #707070 !important;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

}

.project-info h4 {
  color: #707070;
}

.project-info h4 span {
  font-weight: bold;

}

.project-info textarea {
  border-radius: 3px !important;
}

.note-card {
  /* background-color: rgba(52, 152, 219,0.2); */
  border-radius: 3px;
  padding: 8px 10px 0px 10px;
  margin-bottom: 10px;
  line-height: 1;
}

.note-card span {
  color: #707070;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
}



/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .project-info {
    width: 50vw;
  }
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  .project-info {
    width: 100vw;
  }
}
