

#main {
  padding-top: 50px;
}


#upcoming-projects p {
  font-size: 0.9em;
  color: #505050;
}

#upcoming-projects span {
  font-weight: bold;
}

#add-project-modal span {
  font-weight: bold;
  color: #000A55;
  font-size: 1.2em;
}

table thead {
  font-size: 1em;
  color: #464B69;
}
table tbody {
  /* font-size: 0.9em; */
}
