body {
  background-color: #F8F8F8;
}

body > .grid-x {
  padding-top: 50px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 20px;
}

.stat {
  text-align: center;
}
.stat .value {
  font-weight: bold;
}
.stat .title {
  font-size: 0.5em;
}
