body {
  background-color: #F8F8F8;
}

body > .grid-x {
  padding-top: 50px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}


table thead {
  font-size: 1em;
  color: #464B69;
}
table tbody {
  font-size: 0.9em;
}
