body {
  background-color: #F8F8F8;
}

.card {
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.stat {
  text-align: center;
}
.stat .value {
  font-weight: bold;
}
.stat .title {
  font-size: 0.5em;
}
