#user-card .banner > div {
  display: inline-block;
}

#user-card .banner {
  color: #000A55;
}
#user-card .banner i {
  font-size: 2.5em;
}

#user-card .banner .name {
  font-size: 2.8em;
  color: #747896;
  padding-left: 10px;
}
