.footer {
  margin-top: 50px;
  min-height: 150px;
  // background-color: #F0F1F2;
  background-color: #222f3e;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #bdc3c7;


  h5 {
    color: white;
  }

}
