.login {
  height: 100vh;

  // background-color: #f1f2f6;
  // background-color: #f0f0f0;

  background: #c5deea; /* Old browsers */
  background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

  .login-box {
    background-color: white;
    max-width: 400px;
    min-height: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2);

    .app-name {
      font-weight: bold;
      color: #707070;

    }

    form {
      max-width: 300px;
      margin: auto;

      button {
        background-color: rgb(6,53,100);
      }
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .login {
    padding-left:30px;
    padding-right:30px;
  }

  .set-password {
    padding-left:30px;
    padding-right:30px;
  }
}



// for set password view
.set-password {
  height: 100vh;

  background: #c5deea; /* Old browsers */
  background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

  .form-box {
    background-color: white;
    max-width: 400px;
    min-height: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 6px;

    -webkit-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2);


    form {
      max-width: 350px;
      margin: auto;

      button {
        background-color: rgb(6,53,100);
      }
    }
  }
}
