/* project status classes */
.status-new {
  background-color: rgba(243,156,18,0.2);
  color: rgb(243,156,18);
}
.status-engineered {
  background-color: rgba(142,68,173,0.2);
  color: rgb(142,68,173);
}
.status-sold {
  background-color: rgba(39,174,96,0.2);
  color: rgb(39,174,96);
}
.status-quoted {
  background-color: rgba(41,128,185,0.2);
  color: rgb(41,128,185);
}
.status-lost {
  background-color: rgba(44,62,80,0.2);
  color:rgb(44,62,80);
}


/* classes for project timing */
.bidTiming-late {
  color: red !important;
}
.bidTiming-soon {
  color: #f39c12 !important;
}

/* classes for projects tables */
.table-note {
  font-style: italic;
  color: rgb(54,162,235);
}




/* classes for project information */
.project-info {
  background-color: #F8F8F8;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  .close-button {
    top: 100px;
  }

  h4 {
    color: #707070;

    span {
      font-weight: bold;
    }
  }

  textarea {
    border-radius: 3px;
  }

  .note-card {
    /* background-color: rgba(52, 152, 219,0.2); */
    border-radius: 3px;
    padding: 8px 10px 0px 10px;
    margin-bottom: 10px;
    line-height: 1;
  }

  span {
    color: #707070;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
  }
}


/* classes for adding project */
.add-project {
  background-color: #F8F8F8;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
