* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  // min-height: 100%;
}

body {
  // background-color: #F8F8F8;
  overscroll-behavior: none;
  min-height: 100%;

  background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

#main {
  padding-top: 40px;
  // min-height: 100vh;
}
table {
  font-size: 13px;

  thead {
    font-size: 1em;
    color: #464B69;
  }
}

a {
  text-decoration: none !important;
}

h1,h2,h3,h4,h5 {
  color: #000A55;
}

legend {
  color: #747896;
  font-size: 14px;
  font-weight: bolder;
  border: 0;
  width: max-content;
}

// input {
//   border-radius: 3px !important;
// }

select {
  border-radius: 3px !important;
}

/* display cards */
.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px;
}

.button-primary {
  background-color: #2B6BAC;
  text-transform: uppercase;
}

.input-group-button input {
  background-color: #2b6bac;
}
.alert-callout-subtle.warning {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #ffae00;
}

.alert-callout-subtle.success {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #3adb76;
}

/* for table rows that are toggled editable */
.edit-enabled {
  font-style: italic !important;
  font-weight: bold !important;
  color: #707070 !important;
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  text-decoration-color: lightblue !important;
}

/* correct some bootstrap classes
*/
.row {
  margin: auto;
}

/* customize some DataTables stuff
*/
.dataTables_info {
  color: grey;
}

.current {
  margin-top:0;
}




/* project status classes */
.status-new {
  background-color: rgba(243,156,18,0.2);
  color: rgb(243,156,18) !important;
}
.status-engineered {
  background-color: rgba(142,68,173,0.2);
  color: rgb(142,68,173) !important;
}
.status-sold {
  background-color: rgba(39,174,96,0.2);
  color: rgb(39,174,96) !important;
}
.status-quoted {
  background-color: rgba(41,128,185,0.2);
  color: rgb(41,128,185) !important;
}
.status-lost {
  background-color: rgba(44,62,80,0.2);
  color:rgb(44,62,80) !important;
}


/* classes for project timing */
.bidTiming-late {
  color: red !important;
  font-weight: bolder;
}
.bidTiming-soon {
  color: #f39c12 !important;
}

/* classes for projects tables */
.table-note {
  font-style: italic;
  color: rgb(54,162,235);
}




/* classes for project information */
.project-info {
  // background-color: #576574;
  // background-color: white;
  // background-color: rgba(52, 73, 94,0.1);
  // background-color: #f5f6fa;
  background-color: #DEE0E2;

  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;

  .close-button {
    top: 100px;
  }

  h4 {
    color: #707070;
    // color: white;
    span {
      font-weight: bold;
    }
  }

  textarea {
    min-height: 200px;
  }

  .note-card {
    // background-color: white;
    background-color: rgba(87, 101, 116, 0.15);
    border-radius: 3px;
    padding: 8px 10px 0px 10px;
    margin-bottom: 10px;
    line-height: 1;
    color: #707070;

  }


}


/* classes for adding project */
.add-project {
  background-color: #576574;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  // .fieldset {
  //   background-color: white;
  // }

  .fieldset {
    legend {
      color: #c8d6e5;
    }
  }
  label {
    color: white;
    font-size: 12px;
  }
  h4 {
    color: white;
    font-weight: bold;
  }

  span {
    padding-left: 4px;
    color: #e74c3c;
    font-size: 8px;
  }

}

// classes for person info
.person-info {
  background-color: #d1d8e0;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;

  .user-icon {

    text-align: center;

    i {
      font-size: 60px;
      color: #2d3436;
    }

    h4 {
      color: #2d3436;
      font-weight: bold;
    }
  }

  .title {
    color: #2d3f36;
    font-weight: bold;
  }
  .stat-sales {
    text-align: center;
    color: rgba(255,99,132,1);
    font-size: 20px;
    font-weight: bold;
  }

  .stat-projected {
    text-align: center;
    color: #3e95cd;
    font-size: 20px;
    font-weight: bold;
  }

  .stat-title {
    text-align: center;
    color: #2d3436;
  }

}

// standalone stats
.stat {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.stat-title {
  text-align: center;
  color: #707070;
  font-weight: bolder;
}

// segmented card
.card-top {
  @extend .card;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  border-bottom-style: none;
  background-color: #303952;

  margin-bottom: 0;

  h5 {
    padding: 0;
    color: white;
    font-size: 14px;
  }
}
.card-middle {
  @extend .card;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  border-bottom-style: none;

  margin-top: 0px;
  margin-bottom: 0px;
  //padding: 0;

  table {
    margin: 0;
    padding: 0;
  }
  li {
    color: #707070;
    list-style: square;
  }

  h5 {
    color: #707070;
  }

}

.card-bottom {
  @extend .card;

  // background-color: #747d8c;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;

  // a {
  //   color: white;
  // }
  // padding: 0;

  margin-top: 0px;

  table {
    margin-top: 0;
    margin-bottom: 50px;
    background-color: white	;
    border-bottom-style: none;
    border-bottom-width: 0;

    tbody {
      border-left-width: 0;
      border-right-width: 0;
      border-left-style: 0;
      border-right-style: 0;
    }
    margin-left: 0;
    margin-right: 0;

    tr {

      td {
        background-color: #F8F8F8	;
        color: #707070;

        em {
          color: black;
        }
      }
      border-left-style: none;
      border-left-width: 0;
      border-right-width: 0;
      border-right-style: none;


    }

    tr:last-child {
      td {
        border-bottom-style: none;
        border-bottom-width: 0;
      }
    }


  }
}

// people menu card
.people-menu {
  padding: 0;
  margin: 0;

  a {
    color: #707070;
  }

  li {
    border-bottom: #f8f8f8 solid 1px;
  }

  .selected {
    background-color: rgb(32,122,184);
    a {
      color: white;
    }
  }

  .selected:hover {
    background-color: #f8f8f8;
    a {
      color: #303952;
    }
  }

  li:hover {
    background-color: #f8f8f8;
  }

  li:last-child {
    border-width: 0;
  }
}

// tab card
.card-tab {
  @extend .card;

  padding: 5px;

  border-left: #303952 solid 3px;

  .content {
    background-color: white;
    padding-left: 10px;
  }
}

// info-card
.info-card {
  @extend .card;

  padding: 0;
  h5 {
    font-size: 14px;
  }

  .title {
    background-color: #303952;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    h5 {
      margin: 0;
      padding: 0;
      color: white;
    }
  }

  .title-muted {
    background-color: #f0f0f0;
    color: #303952;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    h5 {
      margin: 0;
      padding: 0;
    }
  }
  .content {
    padding: 10px;
  }

  .bottom {}
}

// message cards
.message-card-success {
  @extend .card;

  border-left-width: 15px;
  border-color: #3adb76;
  background-color: rgba(58,219,112,0.5);
}
