* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  // font-size: 14px;
}

body {
  background-color: #F8F8F8;
}

#main {
  padding-top: 40px;
}
table {
  font-size: 13px;

  thead {
    font-size: 1em;
    color: #464B69;
  }
}

a {
  text-decoration: none !important;
}

h1,h2,h3,h4,h5 {
  color: #000A55;
}

legend {
  color: #747896;
  font-size: 14px;
  font-weight: bolder;
  border: 0;
  width: max-content;
}

// input {
//   border-radius: 3px !important;
// }

select {
  border-radius: 3px !important;
}

/* display cards */
.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px;
}

.button-primary {
  background-color: #2B6BAC;
  text-transform: uppercase;
}

.input-group-button input {
  background-color: #2b6bac;
}
.alert-callout-subtle.warning {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #ffae00;
}

.alert-callout-subtle.success {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #3adb76;
}

/* for table rows that are toggled editable */
.edit-enabled {
  font-style: italic !important;
  font-weight: bold !important;
  color: #707070 !important;
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  text-decoration-color: lightblue !important;
}

/* correct some bootstrap classes
*/
.row {
  margin: auto;
}

/* customize some DataTables stuff
*/
.dataTables_info {
  color: grey;
}

.current {
  margin-top:0;
}




/* project status classes */
.status-new {
  background-color: rgba(243,156,18,0.2);
  color: rgb(243,156,18) !important;
}
.status-engineered {
  background-color: rgba(142,68,173,0.2);
  color: rgb(142,68,173) !important;
}
.status-sold {
  background-color: rgba(39,174,96,0.2);
  color: rgb(39,174,96) !important;
}
.status-quoted {
  background-color: rgba(41,128,185,0.2);
  color: rgb(41,128,185) !important;
}
.status-lost {
  background-color: rgba(44,62,80,0.2);
  color:rgb(44,62,80) !important;
}


/* classes for project timing */
.bidTiming-late {
  color: red !important;
  font-weight: bolder;
}
.bidTiming-soon {
  color: #f39c12 !important;
}

/* classes for projects tables */
.table-note {
  font-style: italic;
  color: rgb(54,162,235);
}




/* classes for project information */
.project-info {
  // background-color: #F8F8F8;
  // background-color: rgba(44, 62, 80,0.4);
  background-color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;

  .close-button {
    top: 100px;
  }

  h4 {
    color: #707070;
    // color: white;
    span {
      font-weight: bold;
    }
  }

  textarea {
    border-radius: 3px;
  }

  .note-card {
    background-color: rgba(241, 196, 15,0.1);
    border-radius: 3px;
    padding: 8px 10px 0px 10px;
    margin-bottom: 10px;
    //line-height: 1;
    color: #707070;

  }


}


/* classes for adding project */
.add-project {
  // background-color: #F8F8F8;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  .fieldset {
    background-color: white;
  }

  label {
    color: #707070;
    font-size: 12px;
  }
  h4 {
    color: #707070;
    font-weight: bold;
  }

  span {
    padding-left: 4px;
    color: #e74c3c;
    font-size: 8px;
  }
}

// classes for person info
.person-info {
  background-color: #d1d8e0;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;

  .user-icon {

    text-align: center;

    i {
      font-size: 60px;
      color: #2d3436;
    }

    h4 {
      color: #2d3436;
      font-weight: bold;
    }
  }

  .title {
    color: #2d3f36;
    font-weight: bold;
  }
  .stat-sales {
    text-align: center;
    color: rgba(255,99,132,1);
    font-size: 20px;
    font-weight: bold;
  }

  .stat-projected {
    text-align: center;
    color: #3e95cd;
    font-size: 20px;
    font-weight: bold;
  }

  .stat-title {
    text-align: center;
    color: #2d3436;
  }

}
